*{
	font-family: 微软雅黑;
	margin:0px;
	padding:0px;
	font-size:14px;
}

h1{
	font-size:30px;	
}

a{
	text-decoration: none;
	color:#888;
}

body{
	background: #F9F9F9;
	overflow-x: hidden;
}
ul,li{
	list-style: none;
}
.toper{
	height:26px;
	width: 1200px;
	margin: 0 auto;
	background: #F2F2F2;
}
.toper-left{
	float: left;
}
.toper-right>a,.toper-right>span{
	margin: 0 5px;
}
.toper-right{
	float: right;
}
.textRed{
	color:#c00;
}

.shouji{
	background: #c00;
	color:#fff;
	padding:0 5px;
	border-radius:2px;
}
.shopping-ico{
	width:15px;
	height:15px;
	background: url('../img/public-24.png') no-repeat -18px 4px;
	padding-left:15px;
}
.shouji-ico{
	width:15px;
	height:15px;
	padding-left:15px;
	background: url('../img/public-24.png') no-repeat -62px 2px;
}
.web-ico{
	width:15px;
	height:15px;
	padding-left:15px;
	background: url('../img/public-24.png') no-repeat -80px 4px;
}
.kefu-ico{
	width:15px;
	height:15px;
	padding-left:15px;
	background: url('../img/public-24.png') no-repeat -90px -260px;
}


/* 头部 */
.banner{
	height: 90px;
}
.main{
	height:125px;
	background: url('../img/857d5b63bd0141f09343547cf025f584.jpg') no-repeat -290px 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/*头部左边*/
.main-left{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo{
	margin-right: 20px;
}
/*头部中间*/
.main-middle{
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.search{
	height:32px;
	border:3px solid #c00;
	
}
.search-form{
	width:439px;
	height:22px;
	line-height: 22px;
	padding:5px;
	border:0 none;
	color:#666;
}

.search-form:focus{
	outline:none;
}

.search-btn{
	width:85px;
	height:32px;
	line-height: 32px;
	border:0;
	font-size:16px;
	color:#fff;
	background: #c00;
	cursor: pointer;
	float: right;
}
.search-nav{
	width:540px;
	height:18px;
	padding-top:5px;
}
.search-nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.search-nav ul li{
	float: left;
	margin-right:8px;
	line-height: 18px;
}

.search-nav .first{
	color:#c66;
}
.main-right img{
	padding-bottom: 25px;
}
.main-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/*导航栏*/
.nav{
	height:34px;
	background: #900;
}

.nav ul{
	width:1200px;
	margin:0 auto;
}

.nav ul li{
	float: left;
	line-height: 34px;
	margin-left:30px;
	cursor: pointer;
	color:#fff;
	position: relative;
}
.nav-all{
	background: #ce171f;
	width:190px;
	text-align: center;
	margin-left:0px!important;
}
.nav li .hot {
	background: url(../img/public-24.png) no-repeat 0 -264px;
    display: block;
    font-size: 0;
    height: 17px;
    line-height: 0;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 29px;
    z-index: 203;
}
.swiper{
 	width: 1349px;
	height: 470px;
	margin: 0 auto; 
	position: relative;
	/* display: flex;
	flex-direction: row;
	justify-content: center; */
}
.swiper1 img{
	width: 1349px;
	height: 470px;
}
.swiper-left{
	width:190px;
	height:470px;
	box-sizing: border-box;
	background: #fff;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	position: absolute;
	top: 0;
	left: 75px;
	z-index: 2;
}
.swiper-container{
	height:470px;
	width:13490px;
	margin: 0 0;
}

/*轮播图右边AD*/
.swiper-container2{
	position: absolute;
	right: 75px;
	top: 0; 
	overflow: hidden;
	width: 190px;
	height: 470px;
}
.left-menu:hover{
	border-left:2px solid #CE171F;
}
.nav-menu{
	display: inline-block;
	width:14px;
	height:20px;
	background: #f00;
	margin-right:10px;
	vertical-align: middle;
}
.left-menu{
	width: 190px;
}
 .left-menu:hover{
	cursor: pointer;
	background-color: #eee;
} 
.menu1{
	background: url('../img/public-24.png') -73px -260px;
}
.menu2{
	background: url('../img/public-24.png') 2px -100px;
}
.menu3{
	background: url('../img/public-24.png') -16px -102px;
}
.menu4{
	background: url('../img/public-24.png') -37px -100px;
}


/*选酒menu*/
.catItemCon{
	width: 163px;
	height: 81px;
	padding: 0 10px;
	border-left: 3px solid #fff;
}
.catItemCon span{
	line-height: 32px;
	height: 32px;
	font-size: 14px;
	overflow: hidden;
	font-weight: normal;
	padding-top: 3px;
	color: #333;
}
.swiper-left ul{
	position: relative;
}
.menu-content{
	width: 640px;
	height: 470px;
	background: #fff;
	position: absolute;
	top:0px;
	left:190px;
	color:#000;
	z-index:2;
	display: none;
}
.categoryCon{
	width: 163px;
	overflow: hidden;
	position: relative;
}
.categoryCon p{
	width: 170px;
	height: 20px;
	overflow: hidden;
}
.categoryCon p a{
	display: inline-block;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	padding: 0 4px;
	color: #666;
	float: left;
	margin: 2px 3px 2px 0;
}
.categoryCon p a.on{
	background: #f90;
	color: #fff;
	border-radius: 3px;
	line-height: 16px;
}
.menu-content-left{
	width:400px;
	height:470px;
	padding: 0 20px 0 0;
	float: left;
	display: flex;
	flex-direction: column;
	background: #fff;
}
.menu-item{
	z-index: 1;
	display: flex;
	flex-direction: row;
}
.menu-content-right{
	width:220px;
	height:470px;
	float: right;
}

.menu-item-title{
	width:80px;
	text-align: center;
}

.menu-itemCon{
	width:280px;
	border-bottom:1px dotted #ccc;
	margin-left:40px;
}


.menu-itemCon a{
	margin-right: 20px;
	display: inline-block;
}
.menu-itemCon a.on{
	color: #c00;
}
.menu-coating{
	width:80px;
	height:470px;
	background: #eee;
	float: left;
	position: absolute;
}


.content{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*内容1区*/
.contentOne{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}
.contentOne-left{
	height: 500px;
	width: 920px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.contentOne-left ul{
	display: flex;
	flex-direction: row;
}
.adBox-title{
	width: 183px;
	line-height: 38px;
	color: #666;
	font-size: 16px;
	text-align: center;
	background: #f9f9f9;
	border: 1px solid #ececec;
	border-top-width: 2px
}
.adBox-title span{
	font-size: 16px;
}
.adBox-title-active{
	background: #fff;
    cursor: pointer;
    color: #c00;
    border-top-color: #c00;
}
.adBox-list{
	height: 460px;
	width: 920px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 41px;
	display: flex;
	flex-wrap: wrap;
}
.adBox-list-active{
	z-index: 1
}
.adBox{
	width: 182px;
	margin-top: 14px;
}
.adBox-pic{
	width: 160px;
	padding: 0 11px;
	position: relative;
}
.adBox-pic-tag{
	width: 45px;
    height: 55px;
    position: absolute;
    top: 0px;
    color: #fff;
    right: 0px;
    background: url(../img/TagBg.png) no-repeat;
    text-align: center;
}
.adBox-pic-tag span{
	line-height: 14px;
	display: inline-block;
	width: 43px;
	height: 28px;
	font-size: 12px;
	margin-top: 7px;
}
.adBox-price p{
	line-height: 26px;
	height: 26px;
	color: #c00;
}
.adBox-tit{
	width: 170px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}
.adBox-tit{
	color: #c00;
}

.contentOne-right{
	height: 500px;
	width: 270px;
}
.contentOne-right ul{
	display: flex;
	flex-direction: row;
}
.newBox{
	height: 140px;
	width: 270px;
	overflow: hidden;
	position: relative;
}
.adBox-new-list{
	height: 105px;
	width: 270px;
	background: #fff;
	position: absolute;
	left: 0px;
	top: 41px;
}
.adBox-new-list ul{
	display: flex;
	flex-wrap: wrap;
}
.adBox-new-list ul li{
	width: 135px;
	text-align: center;
	line-height: 28px;
	margin-top: 5px;
}
.adBox-new-title{
	width: 133px;
	height: 38px;
}
.swiper-container3{
	overflow: hidden;
	height: 157px;
	margin-top: 10px;
	background: #ccc;
}
.swiper-container4{
	overflow: hidden;
	margin-top: 10px;
    height: 178px;
    background: #ccc;
}

/*内容2样式*/

.contentTow{
    margin-top: 10px;
    height: 130px;
    width: 1200px;
}
.contentTowMain{
	margin: 0 auto;
	height: 130px;
	width: 1200px;
    background: url(../img/cf6df668bfe74abdaa596e3e0c2ae3f5.jpg) no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 

 /*内容3样式*/
.contentThere{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.contentThereMian{
	width: 1200px;
	height: 299px;
	overflow: hidden;
	position: relative;
}
.contentThere span{
	font-size: 17px;
	color: #888;
}
.pagination5{
	width: 100px;
	height: 22px;
	position: absolute;
	left: 1100px;
	top: 0;
}
.pagination5-answered{
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 9px;
	background: #ccc;
	margin-left: 14px;
	cursor: pointer;
}
.pagination5-active{
	background: #c00;
}
.newIndexIcon{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../img/newIndexIcon-24.png) no-repeat 0px 0px;
	vertical-align: middle;
	margin-top: -7px;
}
.raceList{
	margin-top: 10px;
	width: 1200px;
	height: 257px;
	background: #fff;
}
.raceList li{
	margin-left: 1px;
	float: left;
	width: 178px;
	height: 237px;
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.raceListPic{
	width: 160px;
	height: 160px;
	margin-left: 10px;
}
.raceListTit{
	width: 180px;
	height: 18px;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.raceListPrice{
	color: #c00;
}

/*白酒管*/
.contentTavern{
	width: 1200px;
	height: 679px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.tavernTop{
	height: 30px;
	width: 1200px;
}
.tavernMid{
	border-top: 2px solid #c00;
	height: 485px;
	width: 1200px;
}
.tavernBot{
	height: 162px;
	width: 1200px;
}
.tavernTitle {
    margin-left: 10px;
    float: left;
}
.tavernTitleIcon{
    width: 28px;
    height: 29px;
    display: inline-block;
    background: url(../img/newIndexIcon-24.png) no-repeat 0px -95px;
    vertical-align: middle;
    margin-top: -7px;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-size: 17px;
}
.tavernTitle span {
    font-size: 17px;
    color: #888;
}
.tavernMenu{
    float: right;
     margin-right: 10px; 
}
.tavernMenu ul li {
    float: right;
    margin: 0 5px;
}
.tavernMenu ul li a:hover{
	color: #c00;
}
.tavernMidLeft{
	width: 210px;
	height: 485px;
	float: left;
	overflow: hidden;
	position: relative;
}
.tavernMidRight{
	width: 988px;
    height: 485px;
    background: #fff;
    float: right;

}
.tavernMidRight ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.tavernMidRight ul li{
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 186px;
	height: 231px;
	padding: 5px 5px;
}
.tavernMidRight ul li .raceListTit{
	margin: 10px 0;
}
.pagination6-answered{
	padding: 0px 5px;
	text-decoration: none;
	color: #fff;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
	opacity: 0.9;
	color: #000;
	padding: 0px 5px;
}
.pagination6-active{
	font-weight: bold;
    background: #920000;
    border: 1px solid #610000;
    border-radius: 3px;
    opacity: 1;
    color: #fff;
    padding: 0px 5px;
}
.pagination6{
	position: absolute;
	width: 100px;
	height: 40px;
	left: 110px;
	bottom: 0px;
	z-index: 1;
	text-align: center;
	line-height: 40px;
}
.recommendBox{
	width: 187px;
	height: 132px;
	padding: 20px 10px 10px 14px;
	float: left;
	background: #fff;
}
.recommendBox h3 {
    font-size: 14px;
    color: #c00;
}
.recommendBox h3 i {
    width: 5px;
    height: 5px;
    display: inline-block;
    background: #c00;
    vertical-align: middle;
    margin-top: -3px;
}
.recommendBox p {
    margin-left: 10px;
}
.recommendBox p a {
    font-size: 12px;
    margin-right: 6px;
    width: 50px;
    display: inline-block;
}
.topTenBox {
    margin-top: 1px;
    width: 988px;
    height: 162px;
    float: right;
    background: #fff;
}
.topTenBox .top {
    height: 32px;
    padding: 0px 10px;
    line-height: 32px;
    background: #fff;
}

.topTenBox .top .left{
	float: left;
}
.topTenBox .top .left i {
    width: 11px;
    height: 13px;
    background: url(../img/newIndexIcon-24.png) no-repeat -38px 0px;
    display: inline-block;
    line-height: 13px;
    vertical-align: middle;
    margin-top: -3px;
}
.topTenBox .top .left span{
	color: #888;
}
.topTenBox .top .right{
    float: right;
}
.topTenBox .top .right .active a{
	color: #c00; 
}
.topTenBox .top .right ul li {
    float: left;
    margin-left: 10px;
}
.topTenBox .bot {
    width: 988px;
    height: 130px;
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
}
.topTenBox .bot .active{
	z-index: 1;
}
.typeList{
	width: 988px;
	height: 105px;
	position: absolute;
	top: 0;
	left: 0;
}
.typeList ul  {
    display: flex;
    flex-direction: row;
}
.typeList ul li {
	width: 197px;
	height: 105px;
    display: flex;
    flex-direction: row;
}
.topTenPic {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.topTenTitBox{
	float: right;
    margin-left: 5px;
    margin-top: 10px;
    width: 80px;
}
.topTenTitBox a {
    font-size: 12px;
}
.topTenTitBox p {
    color: #c00;
    font-size: 15px;
}
/* .swiper-container7{
	overflow: hidden;	
}
.pagination7-active a{
	color: #c00;
}
.pagination7-answered{
	color: #888;
} */