body{
	background-color: #fff;
}
.guide{
	height: 40px;
	width: 1200px;
	line-height: 40px;
	margin-bottom: 10px;
}
.guide a {
    color: #666;
}
.guide i {
    color: #999;
    font-style: normal;
    font-family: "å®‹ä½“";
    padding: 0 8px;
}
.guide a:hover, .guide .cur {
    color: #cc3333;
}
/*图片放大*/
.intro{
	width: 1200px;
	height: 572px;
	box-sizing: border-box;
	border: 1px solid #f2f2f2;
}
.imgShow{
	float: left;
	width: 440px;
	height: 570px;
}
.jqzoomWrap {
    cursor: pointer;
    padding: 0;
    position: relative;
}

.imgShow ul.imgList{
	height: 80px;
	width: 440px;
	margin-top: 10px;
}
.imgShow ul.imgList li { 
	float:left;
	margin-right:10px;  
}
.imgShow ul.imgList li img { 
	width:60px; 
	height:60px; 
	padding:1px;
	background:#EEE;
	cursor:pointer; 
}
.imgShow ul.imgList li img:hover { 
	padding:1px; 
	background:#999; 
}
/* jquery zoom */
.zoomWrapper{
	position:relative;
	border:1px solid #999;
  	z-index:110;
  	
}
.zoomWrapperImage{
    display:block;
  	position:relative;
  	overflow:hidden;
  	z-index:110;

}
/*产品购买信息*/
.introInfo {
    width: 548px;
    min-height: 533px;
    padding: 20px 0 10px 10px;
    border-right: 0;
    float: left;
}
.comName {
    padding: 0 10px 5px;
}
.comName h1 {
    width: 528px;
    font-size: 16px;
    min-height: 20px;
    line-height: 20px;
}
.comName p {
    width: 528px;
    color: #c33;
    padding: 8px 0 3px 0;
}
.infoWrap{
    background: #fafafa;
    margin-top: 5px;
    position: relative;
    padding: 10px;
    font-size: 12px;
    width: 548px;
    height: 118px;
}
.priceBox{
	width: 528px;
	height: 55px;
	line-height: 30px;
}
.infoCon {
    float: left;
    width: 464px;
}
.infoTit {
    float: left;
    width: 36px;
    color: #999;
    font-size: 12px;
    padding-right: 28px;
    line-height: 30px; 

}
.infoCon .pri {
    color: #cc3333;
    font-family: "Microsoft YaHei";
}

.infoCon span {
    display: inline-block;
    float: left;
    height: 30px;
}
.infoCon .pri em {
    font-size: 14px;
}
.infoCon .pri strong {
    font-size: 26px;
}
.clubPrice {
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    float: left;
    margin-left: 64px;
    font-size: 0;
}
.clubPrice span {
    font-size: 16px;
    color: #252525;
}
.clubPrice i {
    background: url(../img/itemImg/clubIcon.png) no-repeat;
    width: 40px;
    height: 14px;
    overflow: hidden;
    margin-left: 3px;
}
.clubPrice a {
    color: #3355aa;
    margin-left: 10px;
    font-size: 12px;
}
.promotionBox {
    margin-top: 10px;
}
.promotionBox .infoProm ul li .prom-h {
    height: 16px;
    line-height: 16px;
    margin-top: 7px;
    color: #fff;
    background: #cc3333;
    padding: 0 3px;
    display: inline-block;
}
.promotionBox .infoProm ul li .prom-n {
    margin: 0 12px;
    color: #c33;
    display: inline;
}
.infoCon{
	line-height: 30px;
	font-size: 12px;
}
.infoCon span {
    display: inline-block;
    float: left;
    height: 30px;
}
.promItem{
    font-size: 12px;
}
/*销售额*/
.salesScoreGold {
    border-bottom: 1px dotted #d6d6d6;
    padding-left: 70px;
    height: 38px;
    line-height: 38px;
}
.salesScoreGold>div{
    float: left;
    width: 30%;
    vertical-align: middle;
    font-size: 12px;
}
.salesScoreGold span {
    color: #999;
    margin: 0 8px 0 6px;
}
.salesScoreGold  em {
    color: #999;
    font-family: "Microsoft YaHei";
}

/*购买信息*/
.purchase {
	padding: 10px;
	width: 548px;
	height: 263px;
}
.cityBox {
	width: 528px;
	height: 30px;
    margin: 6px 0 10px 0;
    line-height: 30px;
}
.infoCity{
	float: left;
	width: 464px;    
	position: relative;
}
.infoCity select{
	border: solid 1px #999;
}
.infoCity option{
	color: #999;
}
.infoCity strong{
	padding-left: 8px;
}
.infoChoose .choItem {
    float: left;
    height: 32px;
    width: 160px;
    padding: 0 10px 10px 0;
    border: none;
}
.chooseBox .infoChoose a {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: 30px;
    border: 1px solid #e5e5e5;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
}
.infoChoose .choItem.on a {
    border: 1px solid #cc3333;
    cursor: default;
}
.infoChoose a span {
    font-size: 12px;
    margin: 9px 0;
}
.infoChoose .choItem i {
	background: url(../img/d-icon.png) no-repeat -50px -24px;
    width: 11px;
    height: 11px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.bayNumBox {
    margin-bottom: 28px;
    float: left;
    width: 587px;
    line-height: 30px;
}
.buyNum {
    float: left;
    width: 66px;
    height: 30px;
    position: relative;
}
.buyNum input {
    float: left;
    width: 26px;
    height: 28px;
    line-height: 28px;
    color: #666;
    font-family: "Microsoft YaHei";
    padding: 0 8px;
    border: 1px solid #999;
}
.buyNum .buyNum-btn {
    width: 17px;
    height: 11px;
    position: absolute;
    right: 0;
    border: 1px solid #999;
    overflow: hidden;
    display: block;
}
.buyNum .buyNum-add {
	background: url(../img/d-icon.png) no-repeat -70px -25px;
    top: 0;
}
.buyNum .buyNum-reduce {
	background: url(../img/d-icon.png) no-repeat -70px -41px;
    top: 17px;
}
.buyPro {
    float: left;
    color: #cc3333;
    margin-left: 12px;
}
.bayBtnBox {
    margin-bottom: 18px;
    width: 587px;
    overflow: hidden;
    position: relative;
}
.infoBuy {
    width: 550px;
    padding-left: 64px;
}
.buyBtn {
    display: inline-block;
    width: 166px;
    height: 38px;
    border: 1px solid #ffcccc;
    background: #cc3333;
    color: #fff;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    font-family: "Microsoft YaHei";
    margin-right: 12px;
}
.promptBox {
    float: left;
    width: 587px;
    line-height: 30px;
}
.infoPrompt {
    float: left;
    width: 464px;
    line-height: 30px;
}
.infoPrompt .dIcon{
	background: url(../img/d-icon.png) no-repeat -211px -38px;
	width: 13px;
	height: 12px;
	margin-right: 5px;
} 
.infoPrompt span{
    float: left;
    color: #999;
    margin-right: 25px;
    vertical-align: middle;
}  
/*售后信息*/
.introOther {
    float: left;
    width: 200px;
}
.introLogo {
    text-align: center;
    padding: 0 15px;
}
.introP {
    padding: 30px 0 20px;
    border-bottom: 1px dotted #d7d7d7;
}
.introP a span{
	color: #666;
	display: inline-block;
	line-height: 20px;
	padding-top: 6px;
}
.jxzy {
    font-style: normal;
    display: block;
    width: 54px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    background: #cf000e;
    margin: 0 auto;
    border-radius: 2px;
    margin-top: 2px;
    font-size: 12px;
}
.introSaf {
    padding-left: 35px;
}
.introSaf ul {
    padding-top: 10px;
}
.introSaf ul li {
    padding-top: 14px;
    line-height: 22px;
}
.introSaf ul li .safNam {
    width: 146px;
    position: relative;
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
}
.introSaf ul li .safCon {
	width: 120px;
    position: relative;
    padding-left: 26px;
    color: #999;
    height: 22px;
    overflow: hidden;
}  
.safNam img {
    display: inline-block;
    vertical-align: middle;
}
.safNam strong {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    font-family: "宋体";
    margin-left: 6px;
} 
.cusBgBox {
    padding-left: 35px;
}
.cusBg {
    height: 28px;
    line-height: 28px;
    background: #fafafa;
    text-align: center;
    display: block;
    border-radius: 2px;
    border: 1px solid #e9e9e9;
    font-size: 0;
    width: 104px;
    cursor: pointer;
    margin-top: 15px;
    color: #666666;
    font-family: "宋体";
    position: relative;
}
.cusBg i {
    width: 17px;
    height: 22px;
    background: url(../img/cus-2.png) no-repeat;
    position: absolute;
    top: 4px;
    left: 0;
}    
.cusBg span {
    font-size: 12px;
    color: #666;
    margin-left: 5px;
} 
.showOther {
    padding: 0 20px 0;
    width: 440px;
    height: 42px;
    font-size: 12px;
}
.sOtherRight,
.showCollect,
.goodsNo {
    float: left;
}
.showShare {
    float: right;
    margin-right: 15px;
    position: relative;
}
.showShare i {
    width: 15px;
    height: 15px;
    background: url(../img/d-icon.png) no-repeat -125px -1px;
    margin: 2px 5px 0 0;
}    
.showCollect a {
    display: inline-block;
    text-decoration: none;
    color: #666;
}
.showCollect i {
    width: 13px;
    height: 12px;
    background: url(../img/d-icon.png) no-repeat -148px 0;
    margin: 4px 4px 0 0;
    overflow: hidden;
}   			
